body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1 {
     text-align: center; 
     margin: 40px;
}
form {
    border: 2px solid black;
    display: block;
    width: 450px;
    margin: 0 auto;
    padding: 30px;
}
label {
    display: inline-block;
    width: 250px;
}
input {
    display: inline-block;
    width: 170px;
    margin-bottom: 15px;
}
button {
    margin-left: 185px;
    padding: 8px;
    font-size: 15px;
}
/* div.result {
    margin: 0 auto;
} */
/* h4, p {
    display: inline-block;
} */